@import "tailwindcss";

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#E50914] rounded-full hover:bg-[#c20913];
}

* {
  scrollbar-width: thin;
  scrollbar-color: #E50914 #0a0a0a;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
